<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- views/partials/navbar.ejs -->
    <nav style="background: #341e1e; padding: 10px">
      <a href="/" style="color: white; margin-right: 15px">Home</a>
      <a href="/about" style="color: white; margin-right: 15px">About</a>
      <a href="/contact" style="color: white">Contact</a>
    </nav>
  </body>
</html>
