<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <h1>About Us</h1>
    <hr />
    <p style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores autem
      neque impedit quas voluptas aut earum iusto voluptates velit unde?
      Reiciendis rerum nobis expedita pariatur ducimus fuga facere repudiandae,
      autem ea explicabo doloribus perspiciatis dicta in deserunt voluptatum
      laudantium laboriosam rem consequuntur dignissimos tempore vero sunt.
      Doloribus necessitatibus blanditiis enim, inventore, tempore sequi nihil
      asperiores ad eius corrupti cupiditate tempora tenetur aspernatur
      perspiciatis laudantium architecto officia ab? Placeat, accusamus nemo.
      Rem eum eveniet magni cum maiores obcaecati sed? Fugit molestiae, illum ad
      minus saepe iusto harum eligendi, suscipit optio aut, quaerat aliquam
      veniam officia odit nesciunt? Odio officia in a consectetur hic inventore!
      Maiores ab modi sequi illum totam assumenda architecto obcaecati pariatur
      possimus ipsa, odio, et voluptate hic! Officia asperiores illo reiciendis,
      eveniet saepe placeat magni temporibus laborum quo, maxime facilis neque,
      velit hic fugiat omnis dolore accusantium. Aut exercitationem blanditiis
      doloremque autem impedit nemo quis voluptates et numquam? Quod cumque
      eligendi autem dolorum sapiente doloremque, natus quaerat magni pariatur
      exercitationem impedit libero voluptatibus obcaecati mollitia cum suscipit
      voluptates facere eveniet at voluptate voluptas laborum. Sapiente dolore
      eos assumenda est dolor iste voluptates, optio distinctio eveniet ipsum,
      animi delectus quia veritatis cum magnam commodi modi dignissimos enim.
      Doloremque temporibus, impedit mollitia distinctio consequuntur
      consequatur voluptatibus numquam molestias recusandae dolorem nulla
      dolores fugit optio tenetur vero cupiditate animi accusamus non. Voluptas
      possimus assumenda, tempore eos dignissimos, cumque nihil natus
      praesentium ad minima distinctio obcaecati esse odio molestiae laboriosam
      dolores asperiores illum odit iusto eum quibusdam autem optio illo! Ab
      exercitationem corrupti cumque voluptate harum tenetur, in ut quam alias!
      Sint dolores dolore quia, dolorem vitae at? Voluptates dignissimos
      voluptatibus, maiores quibusdam modi, assumenda, in architecto accusantium
      molestias deleniti perspiciatis saepe tenetur ipsum nostrum rerum
      delectus! Illum dolores dolore aliquam optio dolor iste! A ipsa nobis enim
      commodi nostrum aliquam repellat, non aut quia architecto ducimus error
      qui facere culpa? Delectus earum minus id aut perspiciatis nesciunt in
      saepe laborum quas ullam, perferendis cumque impedit nulla possimus
      nostrum aliquam, vitae ducimus velit doloribus. Dolore et dolorem nemo
      vitae. Impedit obcaecati doloribus ad quis similique nam blanditiis
      veritatis reiciendis distinctio maxime voluptatibus repellendus labore et
      aut, laborum optio iure aliquid veniam sapiente quia, tempora ratione,
      ipsa laudantium. Saepe labore delectus facilis dolorem iure, ex temporibus
      corporis quasi accusantium laborum eum beatae dignissimos rerum quidem
      quis iusto. Odit est odio veniam quidem qui minima iusto corrupti
      molestiae sit sapiente tempora repellat unde, quam quis iste earum dicta
      aliquid cumque? Adipisci, at sit molestiae quidem recusandae voluptatum
      blanditiis quasi tempora, ipsa odio ipsum ullam beatae perferendis iure
      porro, corporis aspernatur quaerat officiis molestias debitis nulla
      consequuntur. Id iste dicta eaque, nostrum quod quo omnis, corporis, sit
      asperiores iusto fugiat assumenda. Harum unde perspiciatis possimus
      nostrum aperiam corporis maiores suscipit! Delectus accusantium cumque
      facilis! Corporis eveniet perspiciatis vel asperiores odio, excepturi
      praesentium repellendus pariatur laboriosam nobis recusandae architecto
      assumenda numquam debitis inventore omnis voluptatem. Reiciendis
      necessitatibus laboriosam, labore repellendus veniam et nisi numquam,
      error blanditiis quibusdam neque nesciunt quisquam sed sequi, ad commodi
      dolorum animi?
    </p>
  </body>
</html>
