<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <h1>Contact Page</h1>
    <hr />
    <p style="text-align: justify">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere maxime
      consectetur quis dicta maiores, odit tempora iste velit adipisci molestiae
      reiciendis quas. Deleniti illo porro eveniet! Nulla praesentium placeat
      iusto! Cupiditate nisi similique, tempora nostrum totam possimus atque
      obcaecati ratione necessitatibus minus, accusamus, consequuntur aut
      nesciunt illum sint voluptatibus! Laboriosam ipsum ducimus veritatis.
      Dolor, quos culpa. Porro dignissimos quos debitis, sit blanditiis ea,
      optio soluta quae quibusdam quas minus ipsa aliquid doloribus laboriosam
      dolorum eligendi est corrupti. Ipsa sunt harum veniam enim dolore saepe
      tempore non nam, provident nisi! Aspernatur consequatur repellat nemo
      nesciunt earum ratione sequi ab iusto aliquid perferendis praesentium quo
      eaque adipisci in, vitae aliquam iste, nihil sunt ipsa excepturi minima
      natus ipsum illo! Nemo, modi quas iure officiis dolores eaque molestias
      nesciunt, maxime minima numquam voluptatem perspiciatis, ipsa nam quis
      beatae fugit! Veniam inventore, reprehenderit autem quaerat unde quia ea,
      iste facilis, dolor maiores sunt omnis tenetur culpa minus magni ex
      voluptate fuga? Libero explicabo non accusantium nulla deleniti saepe ut
      dolorum aspernatur minima inventore, voluptatum velit ullam, aliquid atque
      eaque ipsa doloribus, voluptas eius aperiam placeat consectetur
      consequuntur. Voluptates sunt reprehenderit nemo perferendis facere
      aliquam ipsam, itaque minima labore, voluptas obcaecati illum quam.
      Consequuntur, ab. Reprehenderit, unde harum explicabo corporis culpa
      placeat asperiores aliquam totam minus praesentium voluptatem error
      tenetur? Soluta, reprehenderit cupiditate at, temporibus, neque a eum
      consectetur doloremque autem velit molestias minima tempora odio eos.
      Molestias odit ipsa amet eum aspernatur qui alias, eligendi harum placeat
      consequuntur. Molestias deleniti ab temporibus eius minima perspiciatis
      eos illo! Fuga harum porro odio dolor culpa officia amet eius eos, ex
      dicta sapiente perferendis quibusdam saepe ipsam illo laudantium
      aspernatur. Nostrum, dolorem est eius a tempore numquam omnis et cum eos
      rem. Velit quas rerum eum officiis tempora mollitia ab explicabo. Nostrum
      neque aut adipisci illum provident placeat numquam quas ratione, obcaecati
      nobis eveniet aliquid et sit eius, consequuntur sequi sunt, rem labore
      necessitatibus? Tempore in ipsam iusto eius a perferendis nihil
      repudiandae, itaque modi quos obcaecati, ad voluptate laborum. Delectus,
      voluptate at repellendus asperiores, porro repellat eius libero dolor
      mollitia similique sed harum nisi alias nostrum quia sit cupiditate nulla
      quidem? Vero cumque minima dignissimos nobis qui cupiditate quae voluptate
      sint laboriosam quos, aliquid sunt earum fugiat maxime eaque ipsam natus
      nulla tempore dolores animi alias blanditiis maiores accusamus! Aperiam
      quis alias dolores iste possimus repellat et quo nulla suscipit quam
      tenetur ad, odit debitis tempora placeat enim? Non aut id consectetur?
      Nesciunt, error. Rem fugiat, ullam iusto consequatur exercitationem
      repellat iste odio iure fuga aliquam ipsa nobis voluptates sit
      voluptatibus eaque! Corrupti aperiam blanditiis in. Est quam soluta
      corporis quos nihil adipisci iure quaerat optio quisquam! A quis odit
      assumenda deserunt et voluptas itaque expedita. Temporibus quas officia
      repellendus exercitationem veritatis, ducimus natus inventore ipsum
      corrupti id rerum enim corporis rem vel quidem! Culpa eius fuga quos.
      Recusandae pariatur velit est ex optio eveniet, minus dolorem ad sequi qui
      officia quasi aspernatur? Qui, modi. Labore aliquam pariatur dolorem quo
      dolorum perferendis ratione sunt voluptatibus natus.
    </p>
  </body>
</html>
