<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>Welcome to Home Page</h1>
    <hr />
    <div>
      <p style="text-align: justify">
        iam, excepturi quasi quae alias quis maxime doloremque veritatis
        asperiores, fugit aut vero possimus consectetur similique itaque!
        Quisquam ora maioresus harum deserunt
        laboriosam, quod ipsa impedit unde sed minus molestiae, vel et
        asperiores eligendi. Lorem ipsum dol expedita quis optio
        nesciunt, voluptatibus odit ex, aliquam maxime, qui similique. Corporis
        quaerat architecto tempora ipsum distinctio consequuntur natus ipsa qui
        optio nulla non est eius nam magni ab accusantium repudiandae assumenda
        amet eum, ex odio iusto quia? Facilis corporis officiis maiores
        architecto. Ipsum beatae nulla consequuntur sunt rerum quae laborum
        numquam eveniet harum quaerat nihil temporibus, maiores eligendi aliquam
        neque adipisci at eum expedita? Ea, explicabo recusandae incidunt sed
        vel quisquam autem laudantium maiores voluptate commodi corporis omnis
        beatae labore sequi aperiam harum nostrum officiis expedita quam eveniet
        culpa ex alias nam? Sint delectus tenetur dolore et veritatis commodi
        molestias numquam asperiores autem provident qui rem earum officiis illo
        sunt corporis, mollitia cupiditate. Hic corrupti asperiores quas
        recusandae? Alias odio eos ab optio, quos ducimus non esse iure nam
        possimus amet modi maiores exercitationem nisi aliquid. Necessitatibus
        deserunt nisi dolor consequuntur et quod perferendis exercitationem
        ipsum quam voluptatibus praesentium at enim temporibus aliquid ipsa
        culpa esse perspiciatis, unde cupiditate recusandae, illum omnis alias
        saepe? Illo, voluptas soluta fuga facilis magnam, ducimus cupiditate
        voluptatibus quaerat neque atque, illum laudantium ea reprehenderit esse
        officia. Quasi vero pariatur reprehenderit eveniet perspiciatis!
        Repellendus laudantium minima eius in, nulla recusandae officiis
        perspiciatis quidem provident nisi obcaecati quos consequuntur illo eos
        necessitatibus magnam? Delectus obcaecati corporis magnam veniam
        consequatur necessitatibus, eligendi nobis ducimus, eius exercitationem
        debitis, aut modi incidunt eos iusto dolor quisquam veritatis! Deleniti
        commodi molestiae aut aspernatur maiores!
      </p>
    </div>
  </body>
</html>
